.navbar {
  background: linear-gradient(135deg, #246fac 0%, #a6c5ff 100%);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-left {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-start;
}

.navbar-center {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Add some space between user button and language selector */
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-button {
  background: none;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.arrow-down {
  margin-left: 5px;
}

.logout-button {
  background: none;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0; /* Align to the right for LTR */
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 10px;
  z-index: 1000;
}

/* Adjust dropdown positioning for RTL */
[dir='rtl'] .dropdown-menu {
  right: auto; /* Reset right */
  left: 0; /* Align to the left for RTL */
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu li a,
.dropdown-menu li button {
  color: #34495E;
  text-decoration: none;
  width: 100%;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: center;
  }

  .navbar-list {
    justify-content: center;
  }
}

.user-menu {
  position: relative;
}

.user-menu .dropdown-menu {
  display: block; /* Show when the user menu is open */
}
